//General
.woocommerce {
  form {
    input, textarea {
      color: $c;

      &:focus {
        border-bottom-color: $bg;
      }
    }

    .form-row-first,
    .form-row-last {
      @include for-size($xs) {
        width: 100%;
      }
    }
  }

  .woocommerce-Button.button,
  button.button {
    @extend .btn;

    &:disabled[disabled],
    &:disabled {
      padding: 0;
      color: #fff;

      &:hover {
        background: $bg;
        color: #fff;
      }
    }
  }

  .woocommerce-notices-wrapper {
    ul {
      margin-left: 0;

      li {
        padding: 0;

        &::before {
          display: none;
        }
      }
    }
  }

  ul.products {
    margin: 0;

    li.product {
    }

    $space: 20px;
    @for $i from 1 through 10 {
      &.columns-#{$i} {
        li.product {
          margin: 0 #{$space} #{$space} 0;
          width: calc((100% / #{$i}) - (#{$space} * (#{$i} - 1) / #{$i}));

          &.last {
            margin-right: 0;
          }
        }
      }
    }
  }
}

//Account
.woocommerce-account {
  .addresses .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      flex: 1;
    }

    .edit {
      @extend .btn;
      min-width: auto;
    }
  }

  .woocommerce-MyAccount-navigation {
    ul {
      margin: 0;

      li {
        padding: 0;

        &::before {
          display: none;
        }

        a {
          @extend h5;
          color: $bg;
        }
      }
    }
  }

  .woocommerce-MyAccount-content {
    h3 {
      padding-bottom: 0;

      &::before {
        display: none;
      }
    }
  }
}

//Cart
.woocommerce-cart {
  table.cart {
    td {
      &.product-name {
        a {
          color: $bg;
        }
      }

      &.actions {
        .coupon {
          .input-text {
            width: 140px;
            height: 44px;
            line-height: 44px;
            @include for-size($sm) {
              width: 48%;
            }
            @include for-size($xs) {
              width: 100%;
            }
          }

          .button {
            @include for-size($xs) {
              width: 100%;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

//Checkout
.woocommerce-checkout {
  #payment {
    ul.payment_methods {
      li {
        &::before {
          display: none;
        }
      }
    }
  }

  .woocommerce-error {
    margin-left: 0;

    li {
      padding: 0;

      &::before {
        display: none;
      }
    }
  }

  .showcoupon {
    color: $bg;
  }

  #order_review_heading {
    margin-top: 20px;
  }
}
